# Add Environment Variables
# load from python with os.environ['FOO'] or os.environ.get('BAR')
#
# catchy game... replace kungfoo and copy to .env ...!!
####################################################################
#Base config
##########################
SECRET_KEY=kungfoo
SYSTEM_MAIL_SUBJECT_PREFIX=kungfoo
SYSTEM_MAIL_SENDER=DOJO Admin <admin@kungfoo>
SYSTEM_ADMIN=admin@kungfoo
POSTS_PER_PAGE=10

#Mail config
##########################
MAIL_USERNAME=kungfoo
MAIL_PASSWORD=kungfoo
DEBUG=True
MAIL_SERVER=kungfoo
MAIL_PORT=587
MAIL_USE_TLS=True

#Captcha Authtoken and Key
##########################
RECAPTCHA_PUBLIC_KEY=kungfoo
RECAPTCHA_PRIVATE_KEY=kungfoo

#Redis config
##########################
REDIS_SERVICE=redis
REDIS_PORT=6379

#PostgreSQL config
##########################
#DB Names
DB_NAME_DEV=postgres
DB_NAME_TESTS=postgres
DB_NAME_PROD=postgres
##########################
#DB User
DB_USER_DEV=postgres
DB_USER_TESTS=postgres
DB_USER_PROD=postgres
##########################
#DB Names
DB_PASS_DEV=postgres
DB_PASS_TESTS=postgres
DB_PASS_PROD=postgres
##########################
#DB Services (Container)
DB_SERVICE_DEV=postgres
DB_SERVICE=postgres
DB_SERVICE_PROD=postgres
#DB Ports
##########################
DB_PORT_DEV=5432
DB_PORT=5432
DB_PORT_PROD=5432

#config mode
DEFAULT_RUN_MODE=ProductionConfig