{% extends "base.html" %}

{% block title %}KUNGF.OOO{% endblock %}
{% block head %}
{{ super() }}
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}" />
{% endblock %}


{% block content %}

{{ super() }}


           <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>hier kannst du einen Link drücken!</h1>
              <p>(ja ich weiß, man fühlt sich direkt als teil der zukunft!)</p>
              <p><a class="btn btn-lg btn-primary" href="{{ url_for('tempdemos.cover') }}" role="button">zum Cover</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Noch eine Überschrift</h1>
              <p>Inhalt FTW!</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Link ins nichts</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



{% endblock %}
