<footer role="contentinfo">
    <div class="container">
        <div class="row" align="center">
                <ul class="ul-fa">
                  <li class="fa fa-twitter"><a href="https://twitter.com/dojo_info" title="Twitter Profile"></a></li>
                  <li class="fa fa-facebook"><a href="/" title="Facebook Page"></a></li>
                  <li class="fa fa-google-plus"><a href="/" title="Google+ Profile"></a></li>
                </ul>
        </div>
        <div class="row" align="center"><!-- second row in footer -->
            <p class="footer-brand"><a href="/"><img src="{{ url_for('static', filename='img/Logo.svg') }}" width="80" alt="doj.ooo'"></a></p>
        </div>
    </div><!-- /.container -->
</footer>
